html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 217, 230);
}

.squares-container {
    height: 740px;
    width: 740px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.squares {
    background-color: white;
}


.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 740px;
    width: 365px;
}

.right-side {
    height: 740px;
    width: 365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-grid-size, .reset-button {
    height: 40px;
    width: 110px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(62, 61, 61);
}
